{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  {{#with data}}
  <div class="alert" >
    <div class="message-alert">
      <h3 class="message">{{message}}</h3>
      <p class="info">{{info}}</p>
    </div>
    <div class="btn">
      <a href="{{link}}" class="btn-primary">
      Повернутись назад</a>
    </div>
    
  </div>
  {{/with}}
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}