{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
 <main>
  <div class="alert__card">
    <div class="card__body">
      <h2 class="alert__card--title">{{info}}</h2>
      <a href="/product-list" class="btn">Повернутись назад</a>
    </div>
  </div>  
 </main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}