<main>
    
    <section class="purchase-list">
        {{#with data.purchases}}
    <div class="title">
        {{> heading title="Мої замовлення"}}
        {{> divider}}
    </div>
    
    {{#each list}}
        {{> purchase-item}}
        
    {{/each}}
    {{> divider}}
    {{/with}}
    </section>
   
    
    
</main>