{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <section>
    <h1 class="product-list__title">Список товарів</h1>
    <div class="product-list">
      <div class="product-card">
        
        <h2 class="product-card__title">name</h2>
        <p class="product-card__description">description</p>
        <span class="product-card__id">ID: id</span>
        <div class="pricEdit__box">
            <strong class="product-card__price">price</strong>
            <a href="/product-edite?id=<ідентифікатор товару>" class="card__btn">Редагувати</a>
      
        </div>  
      
      </div>
      <div class="product-card">
       
        <h2 class="product-card__title">Name</h2>
        <p class="product-card__description">description</p>
        <span class="product-card__id">ID: id</span>
        <div class="pricEdit__box">
            <strong class="product-card__price">price</strong>
            <a href="/product-edite?id=<ідентифікатор товару>" class="card__btn">Редагувати</a>
      
        </div>  
        
      </div>
       <div class="product-card">
        
        <h2 class="product-card__title">name</h2>
        <p class="product-card__description">description</p>
        <span class="product-card__id">ID: id</span>
        <div class="pricEdit__box">
            <strong class="product-card__price">price</strong>
            <a href="/product-edite?id=<ідентифікатор товару>" class="card__btn">Редагувати</a>
      
        </div>  
      
      </div>
      <div class="product-card">
       
        <h2 class="product-card__title">Name</h2>
        <p class="product-card__description">description</p>
        <span class="product-card__id">ID: id</span>
        <div class="pricEdit__box">
            <strong class="product-card__price">price</strong>
            <a href="/product-edite?id=<ідентифікатор товару>" class="card__btn">Редагувати</a>
      
        </div>  
        
      </div>
      <div class="product-card">
        
        <h2 class="product-card__title">name</h2>
        <p class="product-card__description">description</p>
        <span class="product-card__id">ID: id</span>
        <div class="pricEdit__box">
            <strong class="product-card__price">price</strong>
            <a href="/product-edite?id=<ідентифікатор товару>" class="card__btn">Редагувати</a>
      
        </div>  
      
      </div>
      <div class="product-card">
       
        <h2 class="product-card__title">Name</h2>
        <p class="product-card__description">description</p>
        <span class="product-card__id">ID: id</span>
        <div class="pricEdit__box">
            <strong class="product-card__price">price</strong>
            <a href="/product-edite?id=<ідентифікатор товару>" class="card__btn">Редагувати</a>
      
        </div>  
        
      </div>
       <div class="product-card">
        
        <h2 class="product-card__title">name</h2>
        <p class="product-card__description">description</p>
        <span class="product-card__id">ID: id</span>
        <div class="pricEdit__box">
            <strong class="product-card__price">price</strong>
            <a href="/product-edite?id=<ідентифікатор товару>" class="card__btn">Редагувати</a>
      
        </div>  
      
      </div>
      <div class="product-card">
       
        <h2 class="product-card__title">Name</h2>
        <p class="product-card__description">description</p>
        <span class="product-card__id">ID: id</span>
        <div class="pricEdit__box">
            <strong class="product-card__price">price</strong>
            <a href="/product-edite?id=<ідентифікатор товару>" class="card__btn">Редагувати</a>
      
        </div>  
        
      </div>
      <div class="product-card">
       
        <h2 class="product-card__title">Name</h2>
        <p class="product-card__description">description</p>
        <span class="product-card__id">ID: id</span>
        <div class="pricEdit__box">
            <strong class="product-card__price">price</strong>
            <a href="/product-edite?id=<ідентифікатор товару>" class="card__btn">Редагувати</a>
      
        </div>  
        
      </div>
    </div>
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}