<main class="main">
    
    {{> heading title="Товари" info="Компютери та ноутбуки / Компютери, лептоп та ін"}}

    <div class="product-list">
        {{#each data.list}}
            {{> purchase-product data=this}}
        {{/each}}
    </div>

</main>